asgiref==3.4.1
Django==3.0.4
django-crum==0.7.5
django-widget-tweaks==1.4.8
html5lib==1.0.1
Pillow==7.1.1
psycopg2-binary==2.9.3
PyPDF2==1.26.0
pytz==2021.3
reportlab==3.5.42
six==1.16.0
sqlparse==0.4.2
webencodings==0.5.1
xhtml2pdf==0.2.4
